<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <a href="https://cryptic-depths-8357.herokuapp.com/"><em>Close Job:
  Last year, commuters in Los Angeles spent an extra 61 hours sitting in traffic.  This app provides estimated commute times along with job results.</em></a> Please click
  <a href="https://cryptic-depths-8357.herokuapp.com/">go to Close Job for more options</a> 
</p>