<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <a href="https://cryptic-depths-8357.herokuapp.com/"><em>Close Job:
  This app assists you to find your desirable jobs around your area.</em></a> Please click
  <a href="https://cryptic-depths-8357.herokuapp.com/">Close Job for more options</a> 
</p>