<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  <a href="https://shrouded-fortress-4003.herokuapp.com"><em>Please contact Dohee Kim for more information.</em></a> 
  <a href="https://shrouded-fortress-4003.herokuapp.com">Dohee Kim</a> 
</p>