<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Your feedback is very important to us, please visit us using this
  <a href="https://cryptic-depths-8357.herokuapp.com/#help">Teleport to nearest Close Job</a>.
  If for some reason the above link doesn't work, please email us below
  <a href="https://cryptic-depths-8357.herokuapp.com/"><em>Click here for our best intern</em></a>.
</p>