<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  To get an assistant on this application, please contact
  <a href="https://cryptic-depths-8357.herokuapp.com/#help">Close Job help desk</a>.
  Or,
  <a href="https://cryptic-depths-8357.herokuapp.com/"><em>Web Master</em></a>.
</p>