<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Close Job</h1>

  <h2>
    This app is brought to you courtesy of Dohee Kim, LLC </br> 
    <a href="https://shrouded-fortress-4003.herokuapp.com">Close Job</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

