<div id="big-logo" class="logo">
  <h1>Indeed Job Search</h1>


<h2>Look for jobs with commute times</h2>

<% if flash[:notice] %>
<p class="flash-notice"><%= notice %></p>
<% end %>

<%= render 'form' %>

</div>